@import 'bootstrap';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

._FF6666 {
    border: solid 1px #FF6666 !important;
    transition: all ease;

    &:hover {
        background-color: #FF6666 !important;
    }
}

._EEEEEE {
    border: solid 1px #EEEEEE !important;
    transition: all ease;

    &:hover {
        background-color: #EEEEEE !important;
    }
}

._95E1AD {
    border: solid 1px #95E1AD !important;
    transition: all ease;

    &:hover {
        background-color: #95E1AD !important;
    }
}

._43A3EC {
    border: solid 1px #43A3EC !important;
    transition: all ease;

    &:hover {
        background-color: #43A3EC !important;
    }
}

._FFFF99 {
    border: solid 1px #CCCC00 !important;
    transition: all ease;

    &:hover {
        background-color: #CCCC00 !important;
    }
}

.RCFF6666 {
    background-color: rgba($color: #FF6666, $alpha: 0.3);
}
.RCEEEEEE {
    background-color: rgba($color: #EEEEEE, $alpha: 0.3);
}
.RC95E1AD {
    background-color: rgba($color: #95E1AD, $alpha: 0.3);
}
.RC43A3EC {
    background-color: rgba($color: #43A3EC, $alpha: 0.3);
}
.RCFFFF99 {
    background-color: rgba($color: #FFFF99, $alpha: 0.3);
}

.RMFF6666 {
    border: 1px solid #FF6666;
    cursor: pointer;

    &:hover {
        background-color: rgba($color: #FF6666, $alpha: 0.3);
    }
}
.RM95E1AD {
    border: 1px solid #95E1AD;
    cursor: pointer;

    &:hover {
        background-color: rgba($color: #95E1AD, $alpha: 0.3);
    }
}
.RM43A3EC {
    border: 1px solid #43A3EC;
    cursor: pointer;

    &:hover {
        background-color: rgba($color: #43A3EC, $alpha: 0.3);
    }
}
.RMFFFF99 {
    border: 1px solid #FFFF99;
    cursor: pointer;

    &:hover {
        background-color: rgba($color: #FFFF99, $alpha: 0.3);
    }
}